                <div id="filter_headline"></div>
                <div id="filter3_headline">Price:</div>
                  <form id="filter3" action="#">
                    <input checked type="checkbox" name="price[]" value="0.25">$<br>
                    <input checked type="checkbox" name="price[]" value="0.50">$$<br>
                    <input checked type="checkbox" name="price[]" value="0.75">$$$<br>
                    <input checked type="checkbox" name="price[]" value="1.00">$$$$<br>
                  </form>
                  <hr>
                <div id="filter4_headline">Quality:</div>
                  <form id="filter4" action="#">
                    <input checked type="checkbox" name="quality[]" value="0.2">&#10025;<br>
                    <input checked type="checkbox" name="quality[]" value="0.4">&#10025;&#10025;<br>
                    <input checked type="checkbox" name="quality[]" value="0.6">&#10025;&#10025;&#10025;<br>
                    <input checked type="checkbox" name="quality[]" value="0.8">&#10025;&#10025;&#10025;&#10025;<br>
                    <input checked type="checkbox" name="quality[]" value="1.0">&#10025;&#10025;&#10025;&#10025;&#10025;<br>
                  </form>
                  <hr>
                  <div id="filter7_headline">Time:</div>
                  <form id="filter7" action="#">
                <input type="radio" name="time[]" value="30">Last 30 days<br>
                <input type="radio" name="time[]" value="180">Last 6 months<br>
                <input type="radio" name="time[]" value="365">Last 1 year<br>
                <input checked type="radio" name="time[]" value="1000000000000">Since beginning of time<br>
                  </form>
                  <hr>
                    <div id="filter8_headline">Ratings:</div>
                  <form id="filter8"  action="#">
                <input type="radio" name="mine[]" value="$GET[userId]">Only mine<br>
                <input checked type="radio" name="mine[]" value="1">All ratings<br>
                  </form>
                  <hr>