      <footer class="row row_border">
          <div class="columns large-12 section_border">
               <p id="footer">
                  Ratestuf.org &copy; <%= Date.today.year %><br />
                  An Adam Zuckerberg Production </br>
                  <a href="#"></a>  112358 Alan Watts Way, Santa Cruz CA #42 <br/>
               </p>
               <p>
                <div id="footerLinks" class="large-12 columns show-for-medium-up section_border"> 
                    <a href="http://areas.kenan-flagler.unc.edu/Marketing/FacultyStaff/zeithaml/Selected%20Publications/Consumer%20Perceptions%20of%20Price,%20Quality,%20and%20Value-%20A%20Means-End%20Model%20and%20Snthesis%20of%20Evidence.pdf">Scholary Stuf on Perceived Value and Price</a>  | 
                    <a href="http://www.comm.ucsb.edu/faculty/flanagin/CV/FlanaginandMetzger2013(CiHB).pdf">Scholary Stuf on User-Generated Ratings</a> | 
                    <a href="http://www.demandforce.com/_assets/downloads/pdf/resources/heres-looking-out-for-you-kid-the-unselfish-reasons-why-people-write-online-reviews.pdf">The Unselfish Reasons Why People Write Online Reviews</a> |
                    <a href="http://www.ratestuf.org/privacy.php">Privacy Policy</a>
                  <br/>
                <div>
              </p>
          </div>
      </footer>
<!-- close container -->
    </div>