<h3 class="popular">  Popular Stuff: </h3>

<div id="tagcloud">


<% @items.each do |item| %>

        
<% end %>
<span class="<?php echo $class; ?>">
<a href="?s=<?php echo urlencode($itemName['itemName']); ?>"><?php echo $itemName['itemName']; ?></a>
</span>
<?php endforeach; ?>
</div>