<form id="mainForm" method="get" action="./" >
  <div class="right-inner-addon">
    <input type="text" id="searchTags" class="items form-control" placeholder="e.g. southwest vs. delta" name="s" value="">
        <i class="glyphicon glyphicon-search"></i>
</div>
</form>
<script type="text/javascript">
  $(document).ready(function() {
  $("#searchTags").autocomplete({source:'getautocomplete.php', minLength:1});
});
</script>