<%= form_tag("/", method: "get", id: "mainForm") do %>
  <div class="right-inner-addon">
  	<%= text_field_tag :search, nil, id: "searchTags", placeholder: "e.g. providence versus saint johns", :class => "items form-control", :autofocus => "autofocus" %>
  </div>
<% end %>


