<div class="dollarRating">
    <div id="fourDollars"><span>$$$$</span></div>
    <div id="threeDollars"><span>$$$</span></div>
    <div id="twoDollars"><span>$$</span></div>
    <div id="oneDollar"><span>$</span></div>
</div>