<%= image_tag("rateTable.png", id: "rateTable") %>
  <span id="starCounter">0.0</span>
  <div class="starRating"> 
      <span id="star1" class="star fa fa fa-star"></span>
      <span id="star2" class="star fa fa fa-star"></span>
      <span id="star3" class="star fa fa fa-star"></span>
      <span id="star4" class="star fa fa fa-star"></span>
      <span id="star5" class="star fa fa fa-star"></span>
 </div>
    <div id="the_balls" >
      <%= render 'draggables' %>
    </div> 
</div>